extends layout

block content

    div.w3-cell-row
        div.w3-cell.w3-padding-16
            div.w3-container.w3-light-blue
                h2 Uživatelé
            div.w3-container
                div.w3-cell-row
                    div.w3-cell
                        h4 Seznam uživatelů
                    div.w3-cell.w3-right-align
                        a.w3-button.w3-circle.w3-hover-white(id="btnRefreshUsers")
                            i(class="fas fa-sync-alt")

                div(class="userTable" data-url="/refreshUsers")
                    table(class="w3-table-all w3-gray table-userTable")
                        thead
                            tr.w3-light-gray
                        tbody
                            tr
                                td Seznam je prázdny

        div.w3-container.w3-cell.w3-padding-16(style="width:33%")
            div.w3-card-4
                div.w3-container.w3-blue-grey.w3-text-black
                    h3 Nový uživatel
                div.w3-container(style="padding-bottom: 16px")
                    p
                        label Jméno
                        input.w3-input.w3-border.w3-round-medium(name="firstName" type="text" id="firstName")
                    p
                        label Příjmení
                        input.w3-input.w3-border.w3-round-medium(name="lastName" type="text" id="lastName")
                    button.w3-btn.w3-round-medium.w3-blue-grey.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id="btnNewUser") Registrovat
                    p.w3-text-green(hidden=true id="messageOK") Karta úspěšně personalizovaná
                    p.w3-text-red(hidden=true id="messageError") Kartu se nepodarilo personalizovat

    script(src='users-client.js')