doctype html
html
    head
        title= 'RKVAC ISSUER'
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="webcard.js")
        script(src="websocket.js")
    body
        div.w3-top
                div.w3-bar.w3-dark-gray
                    a(href="/" class="w3-bar-item w3-button")
                        i(class="fas fa-home fa-lg")
                    a(href="/users" class="w3-bar-item w3-button") Users
                    a(href="/attributes" class="w3-bar-item w3-button") Credentials
                    a(href="/logout" class="w3-bar-item w3-button w3-right")
                        i(class="fas fa-sign-out-alt fa-lg")
                    form(action="/downloadLog" method="GET")
                        button.w3-button.w3-bar-item.w3-right(type='submit')
                            i(class="fas fa-download fa-lg")
                    a(href="/change-password" class="w3-bar-item w3-button w3-right") Change password

        br
        block content
