extends layout

block content
    br
    div.w3-container.w3-centered(style="width: 33%; margin: auto")
        div.w3-card-4
            div.w3-container.w3-cyan.w3-text-black.w3-padding
                h2 Password change
            form.w3-container(action="/change-password" method="POST" style="padding-bottom: 16px")
                p
                    label Old password
                    input.w3-input.w3-border.w3-round-medium(type="password" name="passwordOld")
                p
                    label New password
                    input.w3-input.w3-border.w3-round-medium(type="password" name="passwordNew")
                p
                    label Repeat new password
                    input.w3-input.w3-border.w3-round-medium(type="password" name="passwordNew2")
                p
                    input.w3-btn.w3-round-medium.w3-cyan.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type="submit" value="Change")
                p
                    label.w3-text-red= message
                    label.w3-text-green= successMessage
