extends layout

block content
    div.w3-top
        div.w3-bar.w3-dark-gray
            a(href="/" class="w3-bar-item w3-button")
                i(class="fas fa-home fa-lg")
            //div.w3-dropdown-hover
                //button.w3-button Vydavatel
                //div(class="w3-dropdown-content w3-bar-block w3-border")
            a(href="/users" class="w3-bar-item w3-button") Uživatelé
            a(href="/attributes" class="w3-bar-item w3-button") Atributy
            a(href="/RA" class="w3-bar-item w3-button") Revokační autorita
            a(href="/logout" class="w3-bar-item w3-button w3-right")
                i(class="fas fa-sign-out-alt fa-lg")
            a(href="/login" class="w3-bar-item w3-button w3-right")
                i(class="fas fa-user fa-lg")

    br

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%" id="initiatingRA")
        header.w3-gray.w3-padding
            h3 Inicializace Revokační autority
        div.w3-container.w3-padding
            p Revokační autority není inicializována. Pokračujte stisknutím tlačítka:
            //form(action="/initiateRA" method="GET")
            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(id='initiateRAButton') Inicializovat
        //button(id="connectButton") Connect

    div.w3-card-4.w3-margin-top(style="width:50%;margin-left:25%" id="RAFiles" hidden=true)
        header.w3-light-gray.w3-padding
            h3 Soubory Revokační autority
        div.w3-container.w3-padding
            table.w3-table
                tr
                    th Soubor
                    th Akce
                tr
                    td ra_pk.dat
                    td
                        form(action="/downloadRAKey" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit') Stáhnout
                tr
                    td ra_public_parameters.dat
                    td
                        form(action="/downloadRAParam" method="GET")
                            button.w3-button.w3-round-medium.w3-light-gray.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type='submit') Stáhnout

    script(src='RA-client.js')